---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: cls } = Astro.props;
---

{/* mx-auto w-full max-w-(--breakpoint-lg) px-4 sm:px-6 lg:px-8 */}
<div class:list={["mx-auto max-w-screen-xl px-4", cls]}>
  <slot />
</div>
