[package]
authors.workspace    = true
edition.workspace    = true
license.workspace    = true
name                 = "pennapi-db"
repository.workspace = true
version              = "0.0.0"

[dependencies]

[lints]
workspace = true
