@import "tailwindcss" source("../../../app");

@plugin "@tailwindcss/forms";

@theme {
  --text-2xs: 0.625rem;
  --text-2xs--line-height: 0.875rem;

  --font-sans: "Public Sans Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --breakpoint-3xs: 24em; /*  (min-width: 384px) */
  --breakpoint-2xs: 30em; /*  (min-width: 480px) */
  --breakpoint-xs: 36em; /*  (min-width: 576px) */
  --breakpoint-sm: 40em; /*  (min-width: 640px) */
  --breakpoint-md: 48em; /*  (min-width: 768px) */
  --breakpoint-lg: 64em; /*  (min-width: 1024px) */
  --breakpoint-xl: 80em; /*  (min-width: 1280px) */
  --breakpoint-2xl: 96em; /*  (min-width: 1536px) */
  --breakpoint-3xl: 112.5em; /*  (min-width: 1800px) */

  --color-beige-100: oklch(96.91% 0.0068 67.74);
  --color-beige-500: oklch(65.88% 0.012 54.4);

  --color-grey-100: oklch(96.12% 0 0);
  --color-grey-300: oklch(76.68% 0 0);
  --color-grey-500: oklch(51.82% 0.0013 17.2);
  --color-grey-900: oklch(24.25% 0.0095 294.85);

  --color-brand-100: oklch(87.17% 0.0606 63.63);
  --color-brand-200: oklch(57.54% 0.1685 30.38);
  --color-brand-300: oklch(79.4% 0.0737 211.41);
  --color-brand-400: oklch(53.56% 0.0794 190.54);
  --color-brand-500: oklch(58.02% 0.1044 297.97);
  --color-brand-600: oklch(49.66% 0.0253 291.18);

  --color-accent-100: oklch(61.61% 0.1156 43.33);
  --color-accent-200: oklch(58.75% 0.1167 311.31);
  --color-accent-300: oklch(76.93% 0.1058 94.07);
  --color-accent-400: oklch(62.98% 0.0714 125.1);
  --color-accent-500: oklch(55.99% 0.0396 196.08);
  --color-accent-600: oklch(70.24% 0.0203 255.57);
  --color-accent-700: oklch(58.41% 0.1005 242.37);
  --color-accent-800: oklch(66.8% 0.0969 319.73);
  --color-accent-900: oklch(51.87% 0.099 351.49);

  --radius-pill: 100vmax;

  --cursor-pointer: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI6SURBVHgBnZRBaxNBGIYnu9uNSW1NlkgMVAl4Cyg5CAUPJlYFTyaX3CohePKUn5BcBA9CfkAvAf+B4sVLBC8eChv05ClKVaQIiUKjabOO77s7E8bUBpsXnrwzu9lvvvm+2bXFccWADRw1XlpWJpNZg+8ACV4kEomNVqtliSW0Am2mUik5HA5luVxmwEe5XC4pltBZ27a38/m8pHq9HoP54KI47ZbT6fQ52H1mRjE7jnFtK5vNrjJzhSuiui5cYA2Z3YN/HwwGYcBischgH8En8BLsKZ5w8VqtdiwoJ5bneeuO49zGeBdFD4OVSqVwu77vh1nS9VgF3SoUCq4ZiJObzAgcgK8sPtVsNqWWvka1221d011wgckI9cPJ5263K7k9NkDXbZH4Xzz3DRRVLcPDycmYBTe6KPV8kUR0Hm+AM0JFvA4+6DpRnU5nNq5UKn85A5jBUOdb8ITO7CrY4dZ0F+dX/5cbmd0Fq6zXb7CPI/F6NBq9bTQa4n/V7/dpI2QmZxfZWugKhm3eNLdI6S5q1/VkozB+BjZB3Dwe6+COZVlP4Ufs7CLV63UGeg8egksieiNmspPJZA6+DZ6DX/MZVqvVMDt1JA6w8GP4NV38ebnxePwy/IEK+FMVWHMIhmr8BnWuwj2hDqwzF+xwMpnsIeCr6XQ6DoJgIKIvhhuLxaZIjm/IEZgAH/ffwX+IqIknvvU8e+fBBlb38JALDxBwrLKTWGwf/gWMzcKfJP3pXjGuBcqlyjAwH/gDZjDKatJ5fJYAAAAASUVORK5CYII="),
    pointer;
}

@variant dark (&:where(.dark, .dark *));
@variant data-compact (&:where([data-ui~="compact"], [data-ui~="compact"] *));

:is(a, button, label, option, menuitem, details) {
  @apply cursor-pointer;
}
