@media not (prefers-reduced-motion) {
  @view-transition {
    navigation: auto;
  }
}

main {
  view-transition-name: main;
}
:active-view-transition-type(same) main {
  view-transition-name: none;
}

main h1 {
  view-transition-name: headline;
}

::view-transition-group(main) {
  overflow: hidden;
}

theme-picker {
  view-transition-name: theme-picker;
}
header {
  view-transition-name: header;
}

::view-transition-group(theme-picker) {
  animation-duration: 500ms;
}

[data-role="pagination"] a[rel="prev"] {
  view-transition-name: page-previous;
}
[data-role="pagination"] a[rel="next"] {
  view-transition-name: page-next;
}
