---
import type { HTMLAttributes } from "astro/types";

import { pattern } from "@/assets/media/images";

type Props = Omit<HTMLAttributes<"div">, "class:list">;

const { class: cls, ...rest } = Astro.props;
const image = `url(${pattern.src})`;
---

<div
  {...rest}
  class:list={["bg-solute top-0 bg-repeat", "bg-[image:var(--image)] bg-[length:1.5rem]", cls]}
>
</div>

<style define:vars={{ image }}></style>
