---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import { pwaAssetsHead } from "virtual:pwa-assets/head";
import { pwaInfo } from "virtual:pwa-info";

import { generateMetadata, type MetadataConfig } from "@/lib/metadata";

import "@/global.css";

import Frame from "@/components/layout/frame.astro";
import HeadElements from "@/components/layout/head-elements.astro";
import Header from "@/components/layout/header.astro";

// eslint-disable-next-line no-undef
interface Props {
  metadata?: MetadataConfig;
}

const { metadata = {} } = Astro.props;

const elements = generateMetadata(metadata);
---

<!doctype html>
<html
  lang="en"
  class:list={[
    "scheme-light data-[scheme=auto]:scheme-light-dark dark:scheme-dark",
    "motion-safe:scroll-smooth",
  ]}
>
  <head>
    <HeadElements elements={elements} />

    <Font cssVariable="--font-family-sans" preload />
    <slot name="fonts" />

    <Fragment set:html={pwaInfo?.webManifest.linkTag} />
    <Fragment>{pwaAssetsHead.links.map((link) => <link {...link} />)}</Fragment>

    <slot name="metadata" />
    <slot name="opengraph" />
    <ClientRouter />
  </head>
  <body class="font-sans antialiased">
    <Fragment>
      <Header />

      <Frame class="py-10">
        <slot />
      </Frame>
    </Fragment>
  </body>
</html>
