---
import Markdown from "@/components/content/markdown.astro";
import Layout from "@/layouts/layout.astro";

import type { MetadataConfig } from "@/lib/metadata";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<MetadataConfig>;

const { frontmatter } = Astro.props;

const { title, description } = frontmatter;

const metadata = {
  title: title,
  description: description,
  medium: "article",
} satisfies MetadataConfig;
---

<Layout metadata={metadata}>
  <Markdown>
    <h1 id="headline">{metadata.title}</h1>
    <slot />
  </Markdown>
</Layout>
