@tailwind base;
@layer base {
  html {
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    text-size-adjust: none;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: inherit;
  }

  :where([hidden]:not([hidden='until-found'])) {
    display: none !important;
  }
}
@tailwind components;
@tailwind utilities;
