[package]
authors.workspace    = true
edition.workspace    = true
license.workspace    = true
name                 = "api"
repository.workspace = true
version              = "0.1.0"

[dependencies]

[lints]
workspace = true
