#:schema https://www.schemastore.org/cargo.json
[package]
authors    = ["Prince Muel <68931805+princemuel@users.noreply.github.com>"]
edition    = "2024"
license    = "MIT OR Apache-2.0"
name       = "api"
repository = "https://github.com/princemuel/pennywise"
version    = "0.1.0"

[dependencies]
# Async runtime
tokio = { version = "1", features = [
  "net",
  "macros",
  "rt-multi-thread",
  "signal",
] }

# Web
axum = { version = "0.8", features = ["macros"] }
tower = "0.5"
tower-http = { version = "0.6", features = [
  "fs",
  "trace",
  "cors",
  "request-id",
  "timeout",
  "compression-full",
] }

# Database
sqlx = { version = "0.8", features = [
  "runtime-tokio",
  "tls-rustls",
  "macros",
  "postgres",
  "uuid",
  "migrate",
] }

# Serialization
serde      = { version = "1", features = ["derive"] }
serde_json = "1"

# Auth
argon2        = "0.5"
jsonwebtoken  = "10"
oauth2        = "5"
openidconnect = "4"

# Config
config  = { version = "0.15", default-features = false, features = ["toml"] }
dotenvy = "0.15"
secrecy = { version = "0.10", features = ["serde"] }

# Utils
anyhow = "1"
async-trait = "0.1"
jiff = { version = "0.2", features = ["serde"] }
jiff-sqlx = "0.1"
rust_decimal = { version = "1", features = [
  "serde-with-str",
  "db-tokio-postgres",
  "macros",
] }
strum = { version = "0.27", features = ["derive"] }
thiserror = "2"

# Observability
tracing                  = "0.1"
tracing-bunyan-formatter = "0.3"
tracing-log              = "0.2"
tracing-subscriber       = { version = "0.3", features = ["registry", "env-filter"] }

[dev-dependencies]
testcontainers = "0.26"
tokio          = "1"


[profile.release]
codegen-units = 1
lto           = true
opt-level     = 3
strip         = true
