[package]
authors.workspace    = true
edition.workspace    = true
license.workspace    = true
name                 = "api"
repository.workspace = true
version              = "0.1.0"

[dependencies]
anyhow = "1"
axum = "0.8"
dotenvx-rs = "0.4"
reqwest = { version = "0.13", default-features = false, features = [
  "rustls",
  "json",
  "query",
  "form",
  "multipart",
  "gzip",
] }
serde = { workspace = true, features = ["derive"] }
tokio = { version = "1", features = ["full"] }
tower = { version = "0.5", features = ["full"] }
tower-http = { version = "0.6", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[lints]
workspace = true
